# --------------------------------------------------------------------------
# DO NOT ADD REAL SECRET KEYS HERE! 
# Copy this file to `.env` and fill out your local parameters.
# --------------------------------------------------------------------------

# Localhost Backend Networking Origin
VITE_API_URL=http://localhost:8000
